.planned {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.planned-h3 {
  font-size: 18px;
  font-weight: 700;
  line-height: 26.01px;
  letter-spacing: -0.25px;
  text-align: left;
  color: #3A4374;
}

.planned-title {
  font-size: 16px;
  font-weight: 400;
  line-height: 23.12px;
  text-align: left;
  color: #647196;
}

.planned-card {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 31px 32px;
  background-color: #FFFFFF;
  width: 350px;
  border-radius: 5px;
  border-top: solid 6px #62BCFA;
}

.durum {
  display: flex;
  gap: 16px;
  align-items: center;
}

.nokta {
  width: 8px;
  height: 8px;
  background-color: #62BCFA;
  border-radius: 50%;
}

.nokta-p {
  font-size: 16px;
  font-weight: 400;
  line-height: 23.12px;
  text-align: left;
  color: #647196;
}

.planned-h5 {
  font-size: 18px;
  font-weight: 700;
  line-height: 26.01px;
  letter-spacing: -0.25px;
  text-align: left;
  color: #3A4374;
}

.planned-p {
  font-size: 16px;
  font-weight: 400;
  line-height: 23.12px;
  text-align: left;
  color: #647196;
}

.o-fea {
  background-color: #F2F4FF;
  padding: 5px 16px;
  width: 88px;
  border-radius: 10px;
  color: #4661E6;
  font-size: 13px;
  font-weight: 600;
  line-height: 18.79px;
  text-align: center;
}

.reaction {
  display: flex;
  justify-content: space-between;
}

.like {
  display: flex;
  align-items: center;
  gap: 9px;
  background-color: #F2F4FE;
  padding: 11px 16px;
  border-radius: 10px;
  color: #3A4374;
  font-size: 13px;
  font-weight: 700;
  line-height: 18.79px;
  letter-spacing: -0.1805555522441864px;
  text-align: center;
}

.yorum {
  display: flex;
  align-items: center;
  gap: 8px;
}

.yorum-p {
  font-size: 16px;
  font-weight: 700;
  line-height: 23.12px;
  letter-spacing: -0.2222222238779068px;
  text-align: center;
  color: #3A4374;
}