.roadmapheader {
  background-color: #373F68;
  padding: 26px 0px;
  padding-inline: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  .header-navigation {
    button {
      color: #FFFFFF;
      font-size: 13px;
      font-weight: 700;
      line-height: 18.79px;
      border: none;
      background-color: transparent;
    }
    
    h3 {
      font-size: 24px;
      font-weight: 700;
      line-height: 34.68px;
      letter-spacing: -0.3333333432674408px;
      text-align: left;
      color: #FFFFFF;
    }
  }

  .add-feedback-button button {
    background-color: #AD1FEA;
    color: #F2F4FE;
    border-radius: 10px;
    padding: 10px 16px;
    border: none;
  }
}