.add-comment {
    background-color: #FFFFFF;
    border-radius: 10px;
    padding: 24px;
    margin-inline: 24px;
    display: flex;
    flex-direction: column;
    gap: 24px;

    h4 {
        color: #3A4374;
        font-size: 22px;
        font-weight: 700;
        line-height: 26.01px;
        letter-spacing: -0.25px;
    }

    textarea {
        background-color: #F7F8FD;
        border: none;
        border-radius: 10px;
        padding: 16px;

        &::placeholder {
            color: #8C92B3;
        }
    }

    .add-comment-footer {
        display: flex;
        justify-content: space-between;
        align-items: center;

        p {
            color: #647196;
        }

        button {
            background-color: #AD1FEA;
            color: #F2F4FE;
            border-radius: 10px;
            padding: 10px 16px;
            border: none;
        }
    }
}

@media(width >= 768px) {
    .add-comment {
        margin-inline: 39px;
    }    
}

@media(width >= 1110px) {
    .add-comment {
        margin-inline: 165px;
    }    
}