.navigation {
  padding-inline: 24px;
  display: flex;
  gap: 32px;
  justify-content: center;
  border-bottom: 1px solid #8C92B3;
  
  button {
      border: none;
      background-color: transparent;
      padding: 24px 12px;
      border-bottom: 2px solid transparent;

      &.active {
          border-bottom: 4px solid #AD1FEA;
      }
  }
}

@media(width >= 768px) {
  .situations {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 10px;
    margin-inline: 40px;
    margin-bottom: 66px;

    .in-progress {
      .in-progress-texts {
        margin: 0;
      }
  
      .card-lists {
        .card {
          margin-inline: 0;
        }
      }
    }
  
    .planned {
      .planned-texts {
        margin: 0;
      }
  
      .card-lists {
        .card {
          margin-inline: 0;
        }
      }
    }
  
    .live {
      .live-texts {
        margin: 0;
      }
  
      .card-lists {
        .card {
          margin-inline: 0;
        }
      }
    }
  }
}

@media(width >= 1110px) {
  .situations {
    gap: 30px;
    margin-inline: 165px;
  }
}