.card {
    background-color: #FFFFFF;
    padding: 24px;
    border-radius: 10px;
    margin-inline: 24px;

    .card-texts {
        margin-bottom: 10px;

        h4 {
            color: #3A4374;
            font-size: 13px;
            font-weight: 700;
            line-height: 18.79px;
            letter-spacing: -0.1805555522441864px;
            margin-bottom: 9px;
        }

        p {
            color: #647196;
            font-size: 13px;
            font-weight: 400;
            line-height: 18.79px;
        }
    }

    .card-category {
        background-color: #F2F4FF;
        color: #4661E6;
        padding: 5px 16px;
        border-radius: 10px;
        display: inline-block;
        margin-bottom: 18px;
    }

    .like-and-comments {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .likes {
            display: flex;
            align-items: center;
            border-radius: 10px;
            color: #4661E6;
            background-color: #F2F4FE;
            padding: 6px 13px;
            gap: 10px;

            p {
                color: #3A4374;
            }
        }

        .comments {
            display: flex;
            align-items: center;
            gap: 4px;
            color: #CDD2EE;

            p {
                color: #3A4374;
            }
        }
    }
}

@media(width >= 768px) {
    .card {
        margin-inline: 39px;
    }
}