.sidebar {
    background: radial-gradient(128.88% 128.88% at 103.9% -10.39%, #E84D70 0%, #A337F6 53.09%, #28A7ED 100%);
    padding: 16px 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .texts {
        h3 {
            color: #FFFFFF;
            font-size: 15px;
            font-weight: 700;
            line-height: 21.68px;
            letter-spacing: -0.1875px;
        }

        p {
            color: #FFFFFF;
            font-size: 13px;
            font-weight: 500;
            line-height: 18.79px;
        }
    }

    .modal-buttons {
        button {
            background-color: transparent;
            border: none;
            color: #FFFFFF;
            
        }
    }

    dialog {
        background-color: #F7F8FD;
        height: 100vh;
        border: none;
        padding: 24px;
        transition: width 0.8s ease;
        top: 72px;

        .dialog-content {
            display: flex;
            flex-direction: column;
            gap: 24px;
        }
    }

    .categories {
        background-color: #FFFFFF;
        display: flex;
        flex-wrap: wrap;
        gap: 14px;
        border-radius: 10px;
        padding: 24px;

        .category-item:nth-child(1) {
            background-color: #4661E6;
            color: #FFFFFF;
        }

        .category-item {
            background-color: #F2F4FF;
            color: #4661E6;
            border: none;
            padding: 5px 19px;
            border-radius: 10px;
        }
    }

    .roadmap {
        background-color: #FFFFFF;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        gap: 24px;
        padding: 19px 24px;

        .roadmap-title {
            display: flex;
            justify-content: space-between;
            align-items: center;

            h3 {
                color: #3A4374;
                font-size: 18px;
                font-weight: 700;
                line-height: 26.01px;
                letter-spacing: -0.25px;
            }

            a {
                color: #4661E6;
                font-size: 13px;
                font-weight: 600;
                line-height: 18.79px;
            }
        }

        .roadmap-list {
            list-style: none;
            padding: 0;
            display: flex;
            flex-direction: column;
            gap: 8px;

            li {
                color: #647196;
                display: flex;
                gap: 16px;
                justify-content: space-between;
                align-items: center;
                font-size: 16px;
                font-weight: 400;
                line-height: 23.12px;

                p {
                    margin-right: auto;
                }
                
                span {
                    color: #647196;
                    font-size: 16px;
                    font-weight: 700;
                    line-height: 23.12px;
                }
            }

            .planned span:nth-child(1) {
                color: #F49F85;
            }

            .in-progress span:nth-child(1) {
                color: #AD1FEA;
            }

            .live span:nth-child(1) {
                color: #62BCFA;
            }
        }
    }
}